[submodule "stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
	ignore = all
[submodule "sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL.git
	ignore = all
[submodule "libtess2"]
	path = lib/libtess2
	url = https://github.com/memononen/libtess2.git
	ignore = all
[submodule "mix"]
	path = lib/mix
	url = https://github.com/libsdl-org/SDL_mixer.git
	ignore = all
[submodule "lib/libtess2"]
	path = lib/libtess2
	url = https://github.com/memononen/libtess2.git
