name: JoBase Wheels

on:
  workflow_dispatch:
    inputs:
      upload:
        description: Upload to PyPI
        required: true
        type: boolean

jobs:
  wheels:
    name: ${{matrix.os[1]}}
    runs-on: ${{matrix.os[0]}}

    strategy:
      matrix:
        os:
          - [macos-15-intel, MacOS Intel, macos-x86_64]
          - [macos-latest, MacOS Silicon, macos-arm64]
          - [windows-latest, Windows Intel, windows-x86_64]
          - [windows-11-arm, Windows ARM64, windows-arm64]
          - [ubuntu-latest, Linux Intel, linux-x86_64]
          - [ubuntu-24.04-arm, Linux Arm, linux-arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_PROJECT_REQUIRES_PYTHON: '>=3.8'
          CIBW_ARCHS_LINUX: ${{runner.arch == 'X64' && 'x86_64 i686 ppc64le riscv64' || 'aarch64'}}
          CIBW_SKIP: cp3??t-*
          # CIBW_BUILD: cp313-win_amd64*
          #aarch64 armv7l
          #s390x

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{matrix.os[2]}}
          path: wheelhouse/*.whl

  upload:
    name: Upload Wheels
    needs: wheels
    runs-on: ubuntu-latest
    if: ${{github.event.inputs.upload == 'true'}}

    permissions:
      id-token: write

    steps:
      - name: Download
        uses: actions/download-artifact@v6
        with:
          path: dist
          pattern: wheels-*
          merge-multiple: true

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          password: ${{secrets.PYPI_TOKEN}}
          # repository-url: https://test.pypi.org/legacy/